aiohttp==3.7.4.post0
alembic==1.6.5
appdirs==1.4.4
asgiref==3.4.1
async-timeout==3.0.1
attrs==21.2.0
black==21.7b0
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
coverage==5.5
flake8==3.9.2
Flask==2.0.0
Flask-Cors==3.0.10
Flask-JWT-Extended==4.2.3
Flask-Limiter==1.4
flask-marshmallow==0.14.0
Flask-Migrate==3.0.1
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
idna==3.2
itsdangerous==2.0.0
Jinja2==3.0.0
limits==1.5.1
Mako==1.1.4
MarkupSafe==2.0.0
marshmallow==3.13.0
marshmallow-sqlalchemy==0.25.0
mccabe==0.6.1
migrate==0.3.8
multidict==5.1.0
mypy-extensions==0.4.3
pathspec==0.9.0
pycodestyle==2.7.0
pyflakes==2.3.1
PyJWT==2.1.0
python-dateutil==2.8.1
python-dotenv==0.18.0
python-editor==1.0.4
redis==3.5.3
regex==2021.8.21
rq==1.9.0
six==1.16.0
SQLAlchemy==1.4.22
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.5
Werkzeug==2.0.1
yarl==1.6.3